.movie-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.movie-list .movie-item {
    width: 300px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    cursor: pointer;
    position: relative;
    margin: 0 auto;

    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
